/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports

 linear-gradient(
    200.96deg,
    #f5cd04 -29.09%,
    #5b6332 51.77%,
    #4c69ee 129.35%
  );

 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import "./App.css";

/*   display: flex;
height: 100vh;
*/
body {
  position: relative;
  color: white;

  background: lightcoral;
  font-family: 'Noto Sans JP', sans-serif;
  overflow-y: hidden;
  overflow-x: auto;

  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  text-align: center;
  margin-bottom: 6px;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

button {
  background-color: white;
  padding: 2px 2px;
  margin: 2px;
  border-radius: 1px;
  border: none;
  appearance: none;
  font-size: .8rem;
  box-shadow: 0px 1px 2px -1px rgba(24, 39, 75, 0.12),
    0px 1px 8px -1px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
}

button:hover {
  transform: scale(1.1);
}

p {
  font-size: 12px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.Hello {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 2px 0;
}
